@model eShopSolution.Data.Entities.Product

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-container">
    <!-- HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">Credit Card</div>
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center title-2">Pay Invoice</h3>
                                </div>
                                <hr>
                                <form >
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label class="control-label">@Html.DisplayNameFor(model => model.Price) :</label>
                                        <input  readonly class="form-control" placeholder="@Html.DisplayFor(model => model.Price)" />
                                        <span valasp-idation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@Html.DisplayNameFor(model => model.OriginalPrice) :</label>
                                        <input readonly class="form-control" placeholder="@Html.DisplayFor(model => model.OriginalPrice)" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@Html.DisplayNameFor(model => model.Stock) :</label>
                                        <input readonly class="form-control" placeholder="@Html.DisplayFor(model => model.Stock)" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@Html.DisplayNameFor(model => model.ViewCount) :</label>
                                        <input readonly  class="form-control" placeholder="@Html.DisplayFor(model => model.ViewCount)" />
                                        <span class="text-danger"></span>
                                    </div>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
